.icon-cm-logo_white { background-image: url('png/cm-logo_white.png'); background-repeat: no-repeat; }

.icon-miguel-silva-logo { background-image: url('png/miguel-silva-logo.png'); background-repeat: no-repeat; }

.icon-normal { background-image: url('png/normal.png'); background-repeat: no-repeat; }

.icon-ra_logo_white { background-image: url('png/ra_logo_white.png'); background-repeat: no-repeat; }

.icon-twist { background-image: url('png/twist.png'); background-repeat: no-repeat; }

